@keyframes square-rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@keyframes word-fly {
  from {
    transform: translateX(-450px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes letters-scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.7);
  }
}

