.collection__paragraph {
  max-width: 471px;
  min-height: 173px;
  color: #fff;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0 0 70px 0;
  white-space: pre;
} 